@use "colours" as *;

@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Poppins:wght@100;200;400;700&display=swap");
@import url("https://use.typekit.net/dhk4uqg.css");

body,
html {
    margin: 0;
    padding: 0;

    background-color: $dark;
    color: $light;
}

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
